<!DOCTYPE html>
<html>
  <head>
    <title>Koomenade</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <%= link_to "Koomenade", root_path, class: "navbar-brand" %>
    </nav>
    <div class="container mt-5">
      <div class="pb-3 ">
        <%= bread_crumbs %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
